:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    margin-inline: auto;
    padding: 1rem;

    width: clamp(250px, 100%, 750px);

    background: #eee;

    > section.page, &:not(:has(> section)) {
        > :first-child {
            margin-top: 0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
